

{% block navbar %}



    <div class="div">
        <h1 class="mb-5">Wiki</h1>
        <hr/>

        <ul class="nav">

            <div class="flex-fill mb-3">
                <a class="nav-link sidebar-nav-link" href="{% url 'encyclopedia:index' %}">Home<i class="fa-solid fa-house ms-3"></i></a>
            </div>
            <div class="flex-fill mb-3">
                <a class="nav-link sidebar-nav-link" href="{% url 'encyclopedia:create_entry' %}">Create New Page<i class="fa-solid fa-file ms-3"></i></a>
            </div>
            <div class="flex-fill mb-3">
                <a class="nav-link sidebar-nav-link" href="{% url 'encyclopedia:create_entry' %}">Random Page<i class="fa-solid fa-question ms-3"></i></a>
            </div>

        </ul>
        <hr/>
        <form class="d-flex" role="search" action="{% url 'encyclopedia:search' %}" method="POST">
            {% csrf_token %}
            <input class="form-control search me-2" type="text" name="q" placeholder="Search Encyclopedia" aria-label="Search">
        </form>

        {% block nav %}
        {% endblock %}

    </div>


{% endblock %}