

{% block navbar %}



    <div class="div">
        <h2 class="mb-3">Wiki</h2>

        <ul class="nav">

            <div>
                <a class="nav-link" href="{% url 'encyclopedia:index' %}">Home<i class="fa-solid fa-house ms-3"></i></a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'encyclopedia:create_entry' %}">Create New Page<i class="fa-solid fa-file ms-3"></i></a>
            </div>
            <div>
                <a class="nav-link" href="{% url 'encyclopedia:create_entry' %}">Random Page<i class="fa-solid fa-question ms-3"></i></a>
            </div>

        </ul>
        <hr/>
        <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        {% block nav %}
        {% endblock %}

    </div>


{% endblock %}