


{% extends "encyclopedia/partials/base.html" %}

{% block title %}
    {{ entry_title }}
{% endblock %}

{% block body %}
<div class="container">



    <h1 class="mb-5">Update WIKI Entry:</h1>
    <hr class="mb-5"/>


    <form action="{% url 'encyclopedia:update_entry' entry_title %}" method="post">
        <div class="mb-3 p-2">
        
            {% csrf_token %}
            {{ form }}

            <button class="btn btn-secondary" type="submit">Create</button>
        
        </div>

    </form>






</div>


{% endblock %}